.app__footerOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    overflow: hidden;
}

.app__footerOverlay-black {
    height: 25%;
    background: var(--color-black);
}

.app__footerOverlay-img {
    height: 75%;
}

@media screen and (max-width: 768px) {
  .app__footerOverlay {
    display: none;
  }
}